
<%- include ('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KidZ Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>
       

        button {
          width: 100px;
          height: 40px;
          border: 3px solid #315cfd;
          border-radius: 45px;
          transition: all 0.3s;
          cursor: pointer;
          background: white;
          font-size: 1.2em;
          font-weight: 550;
          font-family: 'Montserrat', sans-serif;
        }
        
        button:hover {
          background: #315cfd;
          color: white;
          font-size: 1.5em;
        }
          .button1-container {
    text-align: right; /* Align the button to the right */
    margin-bottom: 50px; /* Add some spacing below the button */
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
        
        
        
            </style>



    <body>
       
        <!-- Offcanvas Menu Begin -->
        
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__option">
                <div class="offcanvas__links">
                    <a href="/signup">Sign in</a>
                    <a href="/login">Logout</a>
                </div>
                <div class="offcanvas__top__hover">
                    <span>My Profile<i class="arrow_carrot-down"></i></span>
                    <ul>
                        <li>My Profile</li>
                        <li>Orders</li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </div>
            <div class="offcanvas__nav__option">
                <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                <a href="/wishList"><img src="/img/icon/heart.png" alt=""></a>
                <a href="/cart"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="price">$0.00</div>
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__text">
                <p>Free shipping, 30-day return or refund guarantee.</p>
            </div>
        </div>
        <!-- Offcanvas Menu End -->
    
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7">
                            <div class="header__top__left">
                                <p>Free shipping, 30-day return or refund guarantee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header__top__right">
                                <div class="header__top__links">
                                    <!-- <a href="/signup">Signup</a> -->
                                    <!-- <a href="/login">Login</a> -->
                                    <!-- <a href="/logout">Logout</a> -->
    
                                </div>
                                <div class="header__top__hover">
                                    <span>My Account <i class="arrow_carrot-down"></i></span>
                                    <ul>
                                        <li><a href="/profile">My Profile</a></li>
                                        <li><a href="/myOrders">My Orders</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="header__logo">
                            <a href="/users/home.ejs"><img src="/img/kid-logo.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header__menu mobile-menu">
    
    
                            <nav>
                                <!-- Your regular navigation links here -->
                                
                                
                              </nav>
                              <ul>
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/about.html">About Us</a></li>
                                        <li><a href="/shop">Shop Details</a></li>
                                        <li><a href="/cart">Shopping Cart</a></li>
                                        <li><a href="/checkOut">Check Out</a></li>
                                        <!-- <li><a href="/blog-details.html">Blog Details</a></li> -->
                                    </ul>
                                </li>


                                <section class="checkout spad">
                                   
                                    <div class="container">
                                        <div class="button1-container">
                                        <button1 id="changePasswordButton" type="button" data-toggle="modal" data-target="#changePasswordForm">Change Password</button1>
                                        <!-- <div class="btn-conteiner">
                                            <a class="btn-content" href="#">
                                              <span class="btn-title">change password</span>
                                              <span class="icon-arrow">
                                                <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                  <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <path id="arrow-icon-one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                                    <path id="arrow-icon-two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                                    <path id="arrow-icon-three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                                                  </g>
                                                </svg>
                                              </span> 
                                            </a>
                                          </div> -->
                                    </div>
                                        
                                        <div class="checkout__form">
                                            <!-- <img src="/img/profile-picture-icon-0.jpg" alt="Profile Picture" width="50" height="50"> -->
                                            
                                            <form action="/profile" method="post">
                                                
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-6">
                                                        
                                                        <!-- <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                                        here</a> to enter your code</h6> -->
                                                        <h6 class="checkout__title">Address Details</h6>
                                                      
                                                        <!-- <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="checkout__input">
                                                                    <p> Name<span>*</span></p>
                                                                    <input type="text" name="Name">
                                                                </div>
                                                            </div>
                            
                                                        </div> -->
                            
                                                        <div class="checkout__input">
                                                            <p>Name<span>*</span></p>
                                                            <input type="text" placeholder="Name" name="name" class="checkout__input__add">
                                                        </div>
                                                      
                                                        <div class="checkout__input">
                                                            <p>Address<span>*</span></p>
                                                            <input type="text" name="address" placeholder="Street Address" class="checkout__input__add">
                                                        </div>
                                                        <div class="checkout__input">
                                                            <p>Town/City<span>*</span></p>
                                                            <input type="text" name="city">
                                                        </div>
                                                        <div class="checkout__input">
                                                            <p>Locality<span>*</span></p>
                                                            <input type="text" name="locality">
                                                        </div>
                                                        <div class="checkout__input">
                                                            <p>Country/State<span>*</span></p>
                                                            <input type="text" name="state">
                                                        </div>
                                                        <div class="checkout__input">
                                                            <p>Postcode / ZIP<span>*</span></p>
                                                            <input type="text" name="pincode">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="checkout__input">
                                                                    <p>Phone<span>*</span></p>
                                                                    <input type="text" name="mobileNumber">
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="checkout__input__checkbox">
                                                          
                                                           
                                                        </div>


                                                        
                                                          <!-- <form action="/profile-edit" method="post">

                                                         <input type="Edit" class="btn btn-primary" value="profile-edit">
                                                         
                                                           </form>
                                                           -->






                                                        
                                                       
                            <form id="addressForm">
                                
                            
                               
                            </form>
                            <button type="submit">Save </button>
                             <!-- Popup -->
                             <div id="popup" style="display: none;">
                              <p>profile saved successfully!</p>
                              <p><%=(typeof message!=='undefined')?message:"profile saved successfully"%></p>
                               </div>




                            
                           
                            <div class="modal fade" id="changePasswordForm" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">  aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                                    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <!-- <div class="checkout__input">
                                    <p>Change Password<span>*</span></p>
                                    <input type="text">
                                </div> -->
                            
                            
                                <div class="modal-body">
                                  <form id="password-change-form" action="/change-password" method="post">
                                      <div class="form-group">
                                          <label for="oldpassword">Old Password</label>
                                          <input type="password" class="form-control" name="oldpassword" id="oldpassword" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="newpassword">New Password</label>
                                          <input type="password" class="form-control" name="newpassword" id="newpassword" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="conpassword">Confirm Password</label>
                                          <input type="password" class="form-control" name="conpassword" id="conpassword" required>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                  </form>
                              </div>
                              
                              <script>
                                  // Client-side validation
                                  document.addEventListener("DOMContentLoaded", function () {
                                      const form = document.getElementById("password-change-form");
                              
                                      form.addEventListener("submit", function (event) {
                                          const newPassword = form.querySelector("#newpassword").value;
                                          const confirmPassword = form.querySelector("#conpassword").value;
                              
                                          if (newPassword !== confirmPassword) {
                                              event.preventDefault();
                                              alert("New password and confirm password do not match....");
                                          }
                                          
                                      });
                                  });
                              </script>
                              <script>
  function validateForm() {
    const oldPassword = document.getElementById("oldpassword").value;
    const newPassword = document.getElementById("newpassword").value;
    const confirmPassword = document.getElementById("conpassword").value;
    const errorMessage = document.getElementById("error-message");

    // Check if the new password and confirm password match the old password
    if (newPassword === oldPassword || confirmPassword === oldPassword) {
      errorMessage.textContent = "New Password and Confirm Password cannot be the same as Old Password.";
      errorMessage.style.display = "block"; // Display the error message
      return false; // Prevent form submission
    } else {
      errorMessage.style.display = "none"; // Hide the error message if not needed
    }

    return true; // Allow form submission
  }
</script>

<script>


document.addEventListener("DOMContentLoaded", function () {
  const form = document.getElementById("checkout-form");

  form.addEventListener("submit", function (event) {
    event.preventDefault();

    let valid = true;

    // Validation for the Name field
    const name = form.querySelector("input[name='name']");
    const nameValidation = document.getElementById("name-validation");
    if (name.value.trim() === "") {
      nameValidation.textContent = "Name is required.";
      valid = false;
    } else {
      nameValidation.textContent = "";
    }

    // Validation for the Address field
    const address = form.querySelector("input[name='address']");
    const addressValidation = document.getElementById("address-validation");
    if (address.value.trim() === "") {
      addressValidation.textContent = "Address is required.";
      valid = false;
    } else {
      addressValidation.textContent = "";
    }

    const City = form.querySelector("input[name='city']");
    const CityValidation = document.getElementById("city-validation");
    if (City.value.trim() === "") {
      CityValidation.textContent = "city is required.";
      valid = false;
    } else {
      CityValidation.textContent = "";
    }
    const mobileNumber = form.querySelector("input[name='mobileNumber']");
    const mobileNumberValidation = document.getElementById("mobileNumber-validation");
    const mobileNumberPattern = /^\d{10}$/;
    if (!mobileNumberPattern.test(mobileNumber.value)) {
      mobileNumberValidation.textContent = "Invalid mobile number. Please enter a 10-digit number.";
      valid = false;
    } else {
      mobileNumberValidation.textContent = "";
    }


    

    if (valid) {
      form.submit();
    }
  });
});

</script>

                              
                              
                            
                             
                            


<p id="message"></p>

<script>
  const form = document.getElementById('passwordChangeForm');
  const oldPassword = document.getElementById('oldpassword');
  const newPassword = document.getElementById('newpassword');
  const confirmPassword = document.getElementById('conpassword');

  const oldPasswordError = document.getElementById('oldPasswordError');
  const newPasswordError = document.getElementById('newPasswordError');
  const confirmPasswordError = document.getElementById('confirmPasswordError');

  form.addEventListener('submit', function (event) {
    let isValid = true;

    if (!oldPassword.value) {
       oldPasswordError.textContent = 'Old Password is required.';
      // alert('old password is required');
      isValid = false;
    } else {
      oldPasswordError.textContent = '';
    }

    if (!newPassword.value) {
       newPasswordError.textContent = 'New Password is required.';
      // alert('new password is required');
      isValid = false;
    } else {
      newPasswordError.textContent = '';
    }

    if (!confirmPassword.value) {
      confirmPasswordError.textContent = 'Confirm Password is required.';
      isValid = false;
    } else if (confirmPassword.value !== newPassword.value) {
      confirmPasswordError.textContent = 'Passwords do not match.';
      isValid = false;
    } else {
      confirmPasswordError.textContent = '';
    }

    if (!isValid) {
      event.preventDefault();
    }
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

document.addEventListener("DOMContentLoaded", () => {
    const changePasswordButton = document.getElementById("changePasswordButton");
    const changePasswordForm = document.getElementById("changePasswordForm");

    changePasswordButton.addEventListener("click", () => {
        $('#changePasswordForm').modal('toggle'); // Open the modal
    });
});


document.getElementById("addressForm").addEventListener("submit", async (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    try {
        const response = await fetch("/profile", {
            method: "POST",
            body: formData
        });

        const data = await response.json();

        if (response.ok) {
            document.getElementById("message").textContent = data.message;
            // Optionally, clear the form or take other actions on success
        } else {
            document.getElementById("message").textContent = data.error;
        }
    } catch (error) {
        console.error(error);
    }
});
</script>


                             


                            </body>
                            </html>