
<!--<!DOCTYPE html>
 <html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    
    

    <style>
.card {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
  height: 350px;
  position: relative;
}

.container {
  height: 100vh;
}

body {
  background: #eee;
}

.mobile-text {
  color: #989696b8;
  font-size: 15px;
}

.form-control {
  margin-right: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none;
}

.cursor {
  cursor: pointer;
}


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sendOtp</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
            <div class="d-flex flex-row mt-5"><input type="text" class="form-control" autofocus=""><input type="text" class="form-control"><input type="text" class="form-control"><input type="text" class="form-control"></div>
            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div>
        </div>
    </div>
</body>
</html>-->



<!-- <div class="card text-center" style="width: 300px;">
  <div class="card-header h5 text-white bg-primary">Password Reset</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
      </p>
      <div class="form-outline">
          <input type="email" id="typeEmail" class="form-control my-3" />
          <label class="form-label" for="typeEmail">Email input</label>
      </div>
      <a href="#" class="btn btn-primary w-100">Reset password</a>
      <div class="d-flex justify-content-between mt-4">
          <a class="" href="#">Login</a>
          <a class="" href="#">Register</a>
      </div>
  </div>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP page</title>
  <style>
html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:400; }

.btn{
	font-size: 15px;
	margin-top:10px;
}

.login-form{ 
	width:320px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}
#reset-btn {
  background-color: blue;
}
#reset-btn {
  border: 2px solid blue;
  border-radius: 5px;
}


  .login-form {
    background-image: url("/img/otp3.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px; 
  }
  .btn-primary:hover {
  background-color: #007bff;
  color: #fff;
}

/* From uiverse.io by @Ali-Tahmazi99 */
button {
 display: inline-block;
 width: 120px;
 height: 30px;
 border-radius: 10px;
 border: 1px solid #03045e;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}

button::before,
button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

button::before {
 left: -10px;
 background: #240046;
}

button::after {
 right: -10px;
 background: #5a189a;
}

button:hover::before,
button:hover::after {
 width: 58%;
}

button:hover span {
 color: #e0aaff;
 transition: 0.3s;
}

button span {
 color: #03045e;
 font-size: 18px;
 transition: all 0.3s ease-in;
}

.input {
 background-color: #383838;
 border: 1ex solid none;
 border-top-width: 1.7em;
 margin: 0;
 padding: 0;
 color: #383838;
 word-wrap: break-word;
 outline: 7px solid #383838;
 height: 30px;
 font-size: 17px;
 text-align: center;
 transition: all 1s;
 max-width: 190px;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}

.input:hover {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.input:focus {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

</style>



  </style>
</head>
<body>
  






<div class="card login-form">
	<div class="card-body">
		<h1 class="card-title text-center">Enter OTP</h1>
		
		<div class="card-text">
			<form action="/verifyForgetOTP" method="post">
				<div class="form-group">
					<label for="exampleInputMobile"></label>
          
          <input type="text" name="OTP" class="form-control form-control-sm" placeholder="Enter OTP here">
					<!-- <input type="mobile" name="OTP" class="form-control form-control-sm" placeholder="Enter OTP here"> -->
          <br>
          <a style="color: red;" >
            <% if(typeof message!=='undefined'){%>
              <%=message%>
              <%}%>
           </a>
				</div>
				<!-- <button type="submit" class="btn btn-primary btn-block">Send password reset email</button> -->
        <button type="submit" class="btn btn-bg-white btn-block" id="reset-btn">Submit </button>
			</form>
      
      <form action="/forgotOtpVerify" method="post">
        <button type="submit" class="btn btn-info submit_btn m-0">Resend</button>

        </form>
		</div>
	</div>
</div>


</body>
</html>
 
