

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP page</title>
  <style>
html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:400; }

.btn{
	font-size: 15px;
	margin-top:10px;
}

.login-form{ 
	width:320px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}
#reset-btn {
  background-color: blue;
}
#reset-btn {
  border: 2px solid blue;
  border-radius: 5px;
}


  .login-form {
    background-image: url("/img/otp3.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px; 
  }
  .btn-primary:hover {
  background-color: #007bff;
  color: #fff;
}
button {
 display: inline-block;
 width: 120px;
 height: 30px;
 border-radius: 10px;
 border: 1px solid #03045e;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}

button::before,
button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

button::before {
 left: -10px;
 background: #240046;
}

button::after {
 right: -10px;
 background: #5a189a;
}

button:hover::before,
button:hover::after {
 width: 58%;
}

button:hover span {
 color: #e0aaff;
 transition: 0.3s;
}

button span {
 color: #03045e;
 font-size: 18px;
 transition: all 0.3s ease-in;
}

.input {
 background-color: #383838;
 border: 1ex solid none;
 border-top-width: 1.7em;
 margin: 0;
 padding: 0;
 color: #383838;
 word-wrap: break-word;
 outline: 7px solid #383838;
 height: 30px;
 font-size: 17px;
 text-align: center;
 transition: all 1s;
 max-width: 190px;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}

.input:hover {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.input:focus {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

</style>



  </style>
</head>
<body>
  <div class="card login-form">
	<div class="card-body">
		<h1 class="card-title text-center">Enter OTP</h1>
		
		<div class="card-text">
			<form action="/verifyForgetOTP" method="post">
				<div class="form-group">
					<label for="exampleInputMobile"></label>
          
          <input type="text" name="OTP" class="form-control form-control-sm" placeholder="Enter OTP here">
				
          <br>
          <a style="color: red;" >
            <% if(typeof message!=='undefined'){%>
              <%=message%>
              <%}%>
           </a>
				</div>
		   <button type="submit" class="btn btn-bg-white btn-block" id="reset-btn">Submit </button>
			  </form>
        <form action="/forgotOtpVerify" method="post">
        <button type="submit" class="btn btn-info submit_btn m-0">Resend</button>

        </form>
		</div>
	</div>
</div>
</body>
</html>
 
