


<%- include('../layouts/header.ejs') %>
 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        .container{
            background-repeat: no-repeat;
        }

.gradient-custom-3 {
      background: #84fab0;
      background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
      background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
      }
.gradient-custom-4 {
      background: #84fab0;
      background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
      background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
        </style>
    
</head>
<body>
   

        <section class="vh-100 bg-image" style="background-image: url('/img/bk2.jpg'); background-size: cover;">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
              <div class="container h-80">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-7 col-lg-6">
                    <div class="card" style="border-radius: 18px; opacity: 0.8;">
                      <div class="card-body p-4">
                        <h3 class="text-uppercase text-center mb-3">Create an account</h3>
          
                        <form action="/signup" method="post" class="mb-4">
                            <label class="form-label" for="form3Example1cg">First Name</label>
                            <div class="form-outline mb-2"> 
                              <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname">
                            </div>
                          
                            <label class="form-label" for="form3Example1cg">Last Name</label>
                            <div class="form-outline mb-2"> 
                              <input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname">
                            </div>
                          
                            <label class="form-label" for="form3Example3cg">E-mail</label>
                            <div class="form-outline mb-2"> 
                              <input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
                            </div>
                          
                            <label class="form-label" for="form3Example3cg">Mobile</label>
                            <div class="form-outline mb-2"> 
                              <input type="text" class="form-control" id="mobilenumber" placeholder="Mobile number" name="mno">
                            </div>
                          
                            <label class="form-label" for="form3Example4cg">Password</label>
                            <div class="form-outline mb-2">
                              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                          
                            <label class="form-label" for="form3Example4cdg">Confirm Password</label>
                            <div class="form-outline mb-2">
                              <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm password" name="confirmpassword">
                            </div>
                          
                            <div class="d-flex justify-content-center">
                              <input class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Signup">
                            </div>
                          
                            <%=(typeof message!=='undefined')?message:""%>
                          
                            <p class="text-center text-muted mt-4 mb-0">Have already an account? <a href="/login">Sign In</a></p>
                          </form>
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          

       
      </section> 



</body>
</html>

<% include('../layouts/footer.ejs') %>






